@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Outfit:wght@100..900&display=swap');

/* CSS variables */
:root {
    --primary-font: "Outfit", sans-serif;
    --secondary-font: "Quicksand", sans-serif;
    /* --primary-color: #3a2620; */
    /* color */
    /* --secondary-color: #aa9581; */
    /* color */
    /* --highlight-color: #416a8e; */
    /* color */
    /* --light-highlight-color: #7a9fc2; */
    /* color */
}

/* Global styles */
body {
    font-family: var(--secondary-font);
}

h1, h2 {
    font-family: var(--primary-font);
}